.todosLists {
    margin: 15px 20% 0 20%;
    width: 60%;
}

.dataTodosList {
    margin: 15px 20% 0 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslateblue;
    border-radius: 4px;
    color: whitesmoke;
}

.createNewTodoText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todosListTitle {
    margin: 0 0 0 1%;
    padding: 4px 0 4px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
}

.todosListTitle:active, .todosListTitle:focus {
    background: none;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
}

.todoListDeleteAndEdit {
    padding: 0 1% 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.deleteIconTodosLists:hover {
    color: crimson;
}

.editIconTodosLists:hover {
    color: limegreen;
}

.navLinkTodosLists {
    width: 90%;
    text-decoration: none;
    text-transform: none;
    color: white;
}

.formCreateTodosListsTitle {
    margin: 25px 0 0 0;
    padding: 2px 1px;
    width: 100%;
}

.formCreateTodosListsSelectedPriority {
    margin: 4px 0 0 0;
    padding: 2px 1px;
    width: 100%;
}

.formCreateTodosListsButtonSubmit {
    margin: 4px 0 0 0;
    padding: 5px 0;
    width: 15%;
    border: none;
    border-radius: 6px;
    background-color: crimson;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
}

.completed {
    text-decoration: line-through;
}

.todosListsFilterSelect {
    width: 8%;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    right: 20%;
    top: 25px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}